
body {
	margin: 0px;
	padding: 0px;
	background-color: #eee
}

#pageContent {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/*****************************************************
 *	Header
 *****************************************************/

#header {
	width: 100%;
	height: 50px;	
	background-color: #31E470;
	box-shadow: 0 0 5px #666;
	position: fixed;
	top: 0px;
    z-index: 999;
}

#logo {
	width: 15%;
	height: 100%;
	display: inline-block;
}

#logo img {
	width: 150px;
	height: 50px;
}

#challengeStatus {
	width: 70%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	list-style: none;
}

#challengeStatus li {
	display: inline-block;
	width: 3.5%;
	height: 100%;
}

#challengeStatus li a {
	width: 15px;
	height: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
	background-color: #fff;
	border-radius: 90px;
	background-color: #eee;
}
#challengeName {
    float: left;
    width: 14%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#challengeName p {
    font-size: 12px;
    font-style:oblique;
    width: 100%;
    text-align: center;
    color: #222;
    height: 50px;
    vertical-align: middle;
    margin: 0px;
    text-shadow: 2px 2px 3px rgba(150, 150 ,150 , 1);   
    line-height: 50px;
}

/*****************************************************
 *	Content 
 *****************************************************/

#content {
	width: 90%;
	height: 725px;
	margin: 70px 5%;
}

#content #documentation {
	width: 100%;
	height: 200px;
	background-color: rgb(250,250,250);
	border: solid 1px #ddd;
	box-shadow: 0 0 5px #ddd;
	border-radius: 3px;
}

#content #commandLine {
	width: 100%;
	height: 325px;
	margin-top: 20px;
}

#commandLine #terminal {
	width: 74%;
	height: 100%;
	float: left;
}

#commandLine #tips {
	width: 25%;
	height: 100%;
	float: right;
}

#tips #advice {
	width: 100%;
	height: 100%;
	background-color: rgb(250,250,250);
	border: solid 1px #ddd;
	box-shadow: 0 0 5px #ddd;
	border-radius: 3px;

}



/*****************************************************
 *	Terminal 
 *****************************************************/
#terminalWindow {
	width: 95%;
	float: left;
	border: solid 1px #ddd;
	-moz-box-shadow: 0 0 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#terminalWindow #titleBar {
	width: 100%;
	height: 25px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

#titleBar #closeWindow {
	width: 16px;
	height: 16px;
	position: relative;
	top: 4px;
	left: 4px;
}

#titleBar #fullScreen {
	width: 16px;
	height: 16px;
	float: right;
	margin-top: 4px;
	margin-right: 4px;
}

#titleBar #terminalTitle {
	width: 30%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 33%;
	text-align: center;
	font-family: inherit;
}

#terminalWindow #terminalBody {
	width: 100%;
	height: 300px;
	background-color: #002b36;
	overflow: auto;
}

#ps {
	width: 100%;
	height: 30px;
	text-indent: 5%;
	color: #ddd;
	margin: 10px 0;
}

.command {
	width: 95%;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.dollar {
	width: 5%;
	height: 20px;
	color: #ddd;
	font-size: inherit;
}

.commandField {
	width: 95%;
	height: 100%;
	border: none;
	background-color: #002b36;
	color: #ddd;
	outline: none;
	font-size: inherit;
	font-family: inherit;
}

#commandHistory {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	display: inline-block;
	font-size: inherit;
	font-family: inherit;
}

.resultOfCommand {
    width: 95%;
    display: inline-block;
    margin-left: 2.5%;
	margin-right: 2.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultOfCommand p {
    width: 100%;
    margin: 0px;
    display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
    color: #ddd;
}


/*****************************************************
 *	Footer 
 *****************************************************/

#footer {
	width: 100%;
	height: 200px;
	background-color: #31E470;
	box-shadow: 0 0 5px #999;
}


/*****************************************************
 *	JS Files	
 *****************************************************/

.commandExec {
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	height: 20px;
	color: #ddd;
}

.result {
	width: 100%;
	display: inline-block;
}

.success {
    color:#0F0;
    margin-top: 20px;
    display:block;
}
