* {
    font-family: 'Droid Arabic Naskh',Tahoma,serif;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #eee;
    font-family: 'Droid Arabic Naskh',Tahoma,serif;
}

#pageContent {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/*****************************************************
 *	Header
 *****************************************************/

#header {
	width: 100%;
	height: 50px;	
	background-color: #31E470;
	box-shadow: 0 0 5px #666;
	position: fixed;
	top: 0px;
    z-index: 999;
}

#logo {
	width: 15%;
	height: 100%;
	display: inline-block;
}

#logo img {
    display: inline-block;
	height: 50px;
}

#challengeStatus {
	width: 70%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	list-style: none;
}

#challengeStatus li {
	display: inline-block;
	width: 3.5%;
	height: 100%;
}

#challengeStatus li a {
	width: 15px;
	height: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
	background-color: #fff;
	border-radius: 90px;
	background-color: #eee;
}
#challengeName {
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    width: 14%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#challengeName p {
    font-size: 12px;
    font-style:oblique;
    width: 100%;
    text-align: center;
    color: #222;
    height: 50px;
    vertical-align: middle;
    margin: 0px;
    text-shadow: 2px 2px 3px rgba(150, 150 ,150 , 1);   
    line-height: 50px;
}

#doc-template {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#doc-template h1 {
    margin: 10px 0px 0px 0px;
}

#doc-template p {
    width: 75%;
    margin: 5px 0px;
    font-size: 16px;
}

.input-command {
    display: inline-block;
    height: 30px;
    color: #4183c4;
    font-weight: bold;
    line-height: 30px;
    margin-top: 10px;
    padding: 2px 10px;
    font-size: 22px;
    background: #F2F2F2;
    border-radius: 3px;
}

.input-command:hover {
    cursor: pointer;
    background: #D2D2D2;
}

/*****************************************************
 *	Content 
 *****************************************************/

#content {
	width: 90%;
	height: 725px;
	margin: 70px 5%;
}

#content #documentation {
	width: 100%;
	height: 300px;
	background-color: rgb(250,250,250);
	border: solid 1px #ddd;
	box-shadow: 0 0 5px #ddd;
	border-radius: 3px;
}

#content #commandLine {
	width: 100%;
	height: 325px;
	margin-top: 20px;
}

#commandLine #terminal {
	width: 74%;
	height: 100%;
	float: left;
    -moz-box-shadow: 0 0 30px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.5);
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

#commandLine #tips {
	width: 25%;
	height: 100%;
	float: right;
}

#tips #advice {
	width: 100%;
	height: 100%;
	background-color: rgb(250,250,250);
	border: solid 1px #ddd;
	box-shadow: 0 0 5px #ddd;
	border-radius: 3px;

}



/*****************************************************
 *	Footer 
 *****************************************************/

#footer {
	width: 100%;
	height: 200px;
	background-color: #31E470;
	box-shadow: 0 0 5px #999;
}


/*****************************************************
 *	JS Files	
 *****************************************************/

.commandExec {
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	height: 20px;
	color: #ddd;
}

.result {
	width: 100%;
	display: inline-block;
}

.success {
    color:#0F0;
    margin-top: 20px;
    display:block;
}

.resultOfCommand {
    width : 90%;
    margin-left: auto;
    margin-right: auto;
}
